.select{
    padding-right: .3rem !important;
    padding-left: .3rem !important;
    width: fit-content !important;

}

.sel{
    height: fit-content !important;
    width: fit-content !important;
    display : flex !important;
    flex-direction : row-reverse !important;
}

#myBarChart{
    height: 20rem !important;
    width: var(100% - 2rem) !important;
}